<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Wayne</string>
		<key>bbox</key>
		<array>
			<real>-82.147948</real>
			<real>31.327101</real>
			<real>-81.61201</real>
			<real>31.829308</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Paulding</string>
		<key>bbox</key>
		<array>
			<real>-85.05031</real>
			<real>33.774758</real>
			<real>-84.723236</real>
			<real>34.082609</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rabun</string>
		<key>bbox</key>
		<array>
			<real>-83.661672</real>
			<real>34.716007</real>
			<real>-83.098244</real>
			<real>35.000659</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Floyd</string>
		<key>bbox</key>
		<array>
			<real>-85.462207</real>
			<real>34.079133</real>
			<real>-85.005235</real>
			<real>34.587483</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cherokee</string>
		<key>bbox</key>
		<array>
			<real>-84.659239</real>
			<real>34.073298</real>
			<real>-84.257586</real>
			<real>34.41259</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Marion</string>
		<key>bbox</key>
		<array>
			<real>-84.658983</real>
			<real>32.134058</real>
			<real>-84.389927</real>
			<real>32.562083</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Burke</string>
		<key>bbox</key>
		<array>
			<real>-82.316515</real>
			<real>32.803707</real>
			<real>-81.541831</real>
			<real>33.297001</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dawson</string>
		<key>bbox</key>
		<array>
			<real>-84.34655</real>
			<real>34.334011</real>
			<real>-83.957077</real>
			<real>34.617924</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Madison</string>
		<key>bbox</key>
		<array>
			<real>-83.402428</real>
			<real>33.998935</real>
			<real>-82.976294</real>
			<real>34.27348</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bulloch</string>
		<key>bbox</key>
		<array>
			<real>-82.030233</real>
			<real>32.15289</real>
			<real>-81.433044</real>
			<real>32.653433</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gilmer</string>
		<key>bbox</key>
		<array>
			<real>-84.657098</real>
			<real>34.548495</real>
			<real>-84.193481</real>
			<real>34.85556</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Effingham</string>
		<key>bbox</key>
		<array>
			<real>-81.548006</real>
			<real>32.095886</real>
			<real>-81.119496</real>
			<real>32.595416</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Berrien</string>
		<key>bbox</key>
		<array>
			<real>-83.43901</real>
			<real>31.025405</real>
			<real>-83.033468</real>
			<real>31.476045</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bleckley</string>
		<key>bbox</key>
		<array>
			<real>-83.498089</real>
			<real>32.272489</real>
			<real>-83.138991</real>
			<real>32.584201</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Brooks</string>
		<key>bbox</key>
		<array>
			<real>-83.743729</real>
			<real>30.634406</real>
			<real>-83.308891</real>
			<real>31.078958</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Catoosa</string>
		<key>bbox</key>
		<array>
			<real>-85.265114</real>
			<real>34.767639</real>
			<real>-84.979661</real>
			<real>34.987647</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Charlton</string>
		<key>bbox</key>
		<array>
			<real>-82.421097</real>
			<real>30.355757</real>
			<real>-81.891878</real>
			<real>31.075467</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Crawford</string>
		<key>bbox</key>
		<array>
			<real>-84.202628</real>
			<real>32.529695</real>
			<real>-83.70109</real>
			<real>32.857137</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dade</string>
		<key>bbox</key>
		<array>
			<real>-85.605165</real>
			<real>34.623858</real>
			<real>-85.363919</real>
			<real>34.984678</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Decatur</string>
		<key>bbox</key>
		<array>
			<real>-84.871322</real>
			<real>30.689993</real>
			<real>-84.375929</real>
			<real>31.079544</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>DeKalb</string>
		<key>bbox</key>
		<array>
			<real>-84.350224</real>
			<real>33.614666</real>
			<real>-84.023713</real>
			<real>33.970911</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Echols</string>
		<key>bbox</key>
		<array>
			<real>-83.13662</real>
			<real>30.591548</real>
			<real>-82.578692</real>
			<real>30.872249</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fayette</string>
		<key>bbox</key>
		<array>
			<real>-84.62722</real>
			<real>33.2565</real>
			<real>-84.38163</real>
			<real>33.550933</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Forsyth</string>
		<key>bbox</key>
		<array>
			<real>-84.258987</real>
			<real>34.050565</real>
			<real>-83.925529</real>
			<real>34.335171</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fulton</string>
		<key>bbox</key>
		<array>
			<real>-84.850713</real>
			<real>33.502412</real>
			<real>-84.097692</real>
			<real>34.186289</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cook</string>
		<key>bbox</key>
		<array>
			<real>-83.577053</real>
			<real>31.027275</real>
			<real>-83.279728</real>
			<real>31.350361</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Grady</string>
		<key>bbox</key>
		<array>
			<real>-84.380705</real>
			<real>30.675804</real>
			<real>-84.07291</real>
			<real>31.078949</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lanier</string>
		<key>bbox</key>
		<array>
			<real>-83.197995</real>
			<real>30.844709</real>
			<real>-82.969659</real>
			<real>31.184208</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Morgan</string>
		<key>bbox</key>
		<array>
			<real>-83.687401</real>
			<real>33.434472</real>
			<real>-83.269134</real>
			<real>33.817829</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Rockdale</string>
		<key>bbox</key>
		<array>
			<real>-84.184143</real>
			<real>33.525776</real>
			<real>-83.91323</real>
			<real>33.786054</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Whitfield</string>
		<key>bbox</key>
		<array>
			<real>-85.168851</real>
			<real>34.615719</real>
			<real>-84.810699</real>
			<real>34.988243</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gwinnett</string>
		<key>bbox</key>
		<array>
			<real>-84.276822</real>
			<real>33.752808</real>
			<real>-83.799104</real>
			<real>34.167873</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lowndes</string>
		<key>bbox</key>
		<array>
			<real>-83.484766</real>
			<real>30.623967</real>
			<real>-83.019419</real>
			<real>31.031964</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Newton</string>
		<key>bbox</key>
		<array>
			<real>-84.055221</real>
			<real>33.367241</real>
			<real>-83.674644</real>
			<real>33.744203</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Oconee</string>
		<key>bbox</key>
		<array>
			<real>-83.647031</real>
			<real>33.698327</real>
			<real>-83.275933</real>
			<real>33.965912</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Seminole</string>
		<key>bbox</key>
		<array>
			<real>-85.028573</real>
			<real>30.711493</real>
			<real>-84.730855</real>
			<real>31.075564</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bartow</string>
		<key>bbox</key>
		<array>
			<real>-85.047074</real>
			<real>34.075296</real>
			<real>-84.644293</real>
			<real>34.413061</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Polk</string>
		<key>bbox</key>
		<array>
			<real>-85.421852</real>
			<real>33.899212</real>
			<real>-84.922742</real>
			<real>34.100668</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pickens</string>
		<key>bbox</key>
		<array>
			<real>-84.654366</real>
			<real>34.373266</real>
			<real>-84.256867</real>
			<real>34.563681</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Cobb</string>
		<key>bbox</key>
		<array>
			<real>-84.739636</real>
			<real>33.743507</real>
			<real>-84.374728</real>
			<real>34.081433</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Monroe</string>
		<key>bbox</key>
		<array>
			<real>-84.124275</real>
			<real>32.848337</real>
			<real>-83.705917</real>
			<real>33.202634</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bacon</string>
		<key>bbox</key>
		<array>
			<real>-82.628273</real>
			<real>31.416906</real>
			<real>-82.226585</real>
			<real>31.710796</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Clarke</string>
		<key>bbox</key>
		<array>
			<real>-83.537385</real>
			<real>33.847977</real>
			<real>-83.24086</real>
			<real>34.040572</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Johnson</string>
		<key>bbox</key>
		<array>
			<real>-82.957066</real>
			<real>32.509473</real>
			<real>-82.434149</real>
			<real>32.822356</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Talbot</string>
		<key>bbox</key>
		<array>
			<real>-84.703377</real>
			<real>32.518639</real>
			<real>-84.286516</real>
			<real>32.883595</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Emanuel</string>
		<key>bbox</key>
		<array>
			<real>-82.647733</real>
			<real>32.291882</real>
			<real>-82.001236</real>
			<real>32.84133</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Heard</string>
		<key>bbox</key>
		<array>
			<real>-85.293805</real>
			<real>33.129559</real>
			<real>-84.939015</real>
			<real>33.428106</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jackson</string>
		<key>bbox</key>
		<array>
			<real>-83.817602</real>
			<real>33.965912</real>
			<real>-83.357051</real>
			<real>34.295276</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Houston</string>
		<key>bbox</key>
		<array>
			<real>-83.856851</real>
			<real>32.282583</real>
			<real>-83.482459</real>
			<real>32.692169</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Laurens</string>
		<key>bbox</key>
		<array>
			<real>-83.226536</real>
			<real>32.147274</real>
			<real>-82.633126</real>
			<real>32.71576</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pulaski</string>
		<key>bbox</key>
		<array>
			<real>-83.615846</real>
			<real>32.102843</real>
			<real>-83.291106</real>
			<real>32.402358</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Taliaferro</string>
		<key>bbox</key>
		<array>
			<real>-83.014038</real>
			<real>33.438099</real>
			<real>-82.679975</real>
			<real>33.733333</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Troup</string>
		<key>bbox</key>
		<array>
			<real>-85.236518</real>
			<real>32.866647</real>
			<real>-84.86147</real>
			<real>33.224693</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Union</string>
		<key>bbox</key>
		<array>
			<real>-84.179047</real>
			<real>34.64082</real>
			<real>-83.780401</real>
			<real>34.987545</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Walker</string>
		<key>bbox</key>
		<array>
			<real>-85.534089</real>
			<real>34.581799</real>
			<real>-85.050446</real>
			<real>34.985175</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Butts</string>
		<key>bbox</key>
		<array>
			<real>-84.123767</real>
			<real>33.18022</real>
			<real>-83.807265</real>
			<real>33.444667</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Clay</string>
		<key>bbox</key>
		<array>
			<real>-85.14113</real>
			<real>31.485871</real>
			<real>-84.799134</real>
			<real>31.780463</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jones</string>
		<key>bbox</key>
		<array>
			<real>-83.816856</real>
			<real>32.841291</real>
			<real>-83.357685</real>
			<real>33.185837</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Glynn</string>
		<key>bbox</key>
		<array>
			<real>-81.782493</real>
			<real>30.990644</real>
			<real>-81.182564</real>
			<real>31.453021</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lincoln</string>
		<key>bbox</key>
		<array>
			<real>-82.645606</real>
			<real>33.636979</real>
			<real>-82.218649</real>
			<real>33.984195</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Meriwether</string>
		<key>bbox</key>
		<array>
			<real>-84.864633</real>
			<real>32.84464</real>
			<real>-84.490539</real>
			<real>33.231493</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Murray</string>
		<key>bbox</key>
		<array>
			<real>-84.944512</real>
			<real>34.583187</real>
			<real>-84.582195</real>
			<real>34.988329</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Putnam</string>
		<key>bbox</key>
		<array>
			<real>-83.545876</real>
			<real>33.167491</real>
			<real>-83.143428</real>
			<real>33.483447</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Randolph</string>
		<key>bbox</key>
		<array>
			<real>-84.959324</real>
			<real>31.618643</real>
			<real>-84.535096</real>
			<real>31.93184</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Screven</string>
		<key>bbox</key>
		<array>
			<real>-81.868683</real>
			<real>32.489286</real>
			<real>-81.389205</real>
			<real>33.045654</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Richmond</string>
		<key>bbox</key>
		<array>
			<real>-82.353498</real>
			<real>33.227165</real>
			<real>-81.828336</real>
			<real>33.544934</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Stewart</string>
		<key>bbox</key>
		<array>
			<real>-85.06833</real>
			<real>31.920308</real>
			<real>-84.63112</real>
			<real>32.232953</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Sumter</string>
		<key>bbox</key>
		<array>
			<real>-84.443807</real>
			<real>31.872756</real>
			<real>-83.919119</real>
			<real>32.229703</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Thomas</string>
		<key>bbox</key>
		<array>
			<real>-84.119245</real>
			<real>30.658396</real>
			<real>-83.736158</real>
			<real>31.077971</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hall</string>
		<key>bbox</key>
		<array>
			<real>-84.062841</real>
			<real>34.098281</real>
			<real>-83.61529</real>
			<real>34.514096</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jasper</string>
		<key>bbox</key>
		<array>
			<real>-83.863362</real>
			<real>33.131816</real>
			<real>-83.533736</real>
			<real>33.52622</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Long</string>
		<key>bbox</key>
		<array>
			<real>-81.981621</real>
			<real>31.538667</real>
			<real>-81.491798</real>
			<real>32.014882</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Telfair</string>
		<key>bbox</key>
		<array>
			<real>-83.207583</real>
			<real>31.774629</real>
			<real>-82.645581</real>
			<real>32.153274</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Carroll</string>
		<key>bbox</key>
		<array>
			<real>-85.33823</real>
			<real>33.425506</real>
			<real>-84.808934</real>
			<real>33.812429</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Walton</string>
		<key>bbox</key>
		<array>
			<real>-83.982201</real>
			<real>33.596919</real>
			<real>-83.505902</real>
			<real>33.929844</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Wheeler</string>
		<key>bbox</key>
		<array>
			<real>-82.940242</real>
			<real>31.918883</real>
			<real>-82.539184</real>
			<real>32.310324</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>White</string>
		<key>bbox</key>
		<array>
			<real>-83.877418</real>
			<real>34.503598</real>
			<real>-83.615517</real>
			<real>34.801374</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Upson</string>
		<key>bbox</key>
		<array>
			<real>-84.534397</real>
			<real>32.690018</real>
			<real>-84.122246</real>
			<real>33.00415</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Stephens</string>
		<key>bbox</key>
		<array>
			<real>-83.45977</real>
			<real>34.461135</real>
			<real>-83.103451</real>
			<real>34.687187</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Spalding</string>
		<key>bbox</key>
		<array>
			<real>-84.509104</real>
			<real>33.17862</real>
			<real>-84.088991</real>
			<real>33.352621</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tift</string>
		<key>bbox</key>
		<array>
			<real>-83.66667</real>
			<real>31.326263</real>
			<real>-83.338728</real>
			<real>31.597921</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ware</string>
		<key>bbox</key>
		<array>
			<real>-82.70105</real>
			<real>30.568481</real>
			<real>-82.131698</real>
			<real>31.469381</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Wilkes</string>
		<key>bbox</key>
		<array>
			<real>-82.987286</real>
			<real>33.596071</real>
			<real>-82.479518</real>
			<real>33.991402</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Turner</string>
		<key>bbox</key>
		<array>
			<real>-83.802223</real>
			<real>31.565492</real>
			<real>-83.452179</real>
			<real>31.854095</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Worth</string>
		<key>bbox</key>
		<array>
			<real>-84.03288</real>
			<real>31.318365</real>
			<real>-83.649384</real>
			<real>31.849588</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Barrow</string>
		<key>bbox</key>
		<array>
			<real>-83.869115</real>
			<real>33.894573</real>
			<real>-83.537385</real>
			<real>34.127518</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Gordon</string>
		<key>bbox</key>
		<array>
			<real>-85.112327</real>
			<real>34.38419</real>
			<real>-84.644432</real>
			<real>34.634128</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chattooga</string>
		<key>bbox</key>
		<array>
			<real>-85.527261</real>
			<real>34.286097</real>
			<real>-85.107748</real>
			<real>34.589333</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Treutlen</string>
		<key>bbox</key>
		<array>
			<real>-82.748742</real>
			<real>32.293595</real>
			<real>-82.38194</real>
			<real>32.512507</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Appling</string>
		<key>bbox</key>
		<array>
			<real>-82.550714</real>
			<real>31.469324</real>
			<real>-82.048582</real>
			<real>31.966182</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Atkinson</string>
		<key>bbox</key>
		<array>
			<real>-83.141586</real>
			<real>31.183012</real>
			<real>-82.62896</real>
			<real>31.420395</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Columbia</string>
		<key>bbox</key>
		<array>
			<real>-82.442846</real>
			<real>33.354635</real>
			<real>-82.028238</real>
			<real>33.700644</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Glascock</string>
		<key>bbox</key>
		<array>
			<real>-82.755846</real>
			<real>33.118881</real>
			<real>-82.431957</real>
			<real>33.32727</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Greene</string>
		<key>bbox</key>
		<array>
			<real>-83.406196</real>
			<real>33.35503</real>
			<real>-82.950723</real>
			<real>33.761774</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Liberty</string>
		<key>bbox</key>
		<array>
			<real>-81.824405</real>
			<real>31.520981</real>
			<real>-81.049789</real>
			<real>32.092551</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Mitchell</string>
		<key>bbox</key>
		<array>
			<real>-84.508324</real>
			<real>31.077148</real>
			<real>-83.997784</real>
			<real>31.443753</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Quitman</string>
		<key>bbox</key>
		<array>
			<real>-85.141931</real>
			<real>31.770963</real>
			<real>-84.907006</real>
			<real>31.991857</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Terrell</string>
		<key>bbox</key>
		<array>
			<real>-84.603086</real>
			<real>31.620988</real>
			<real>-84.258284</real>
			<real>31.967456</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Toombs</string>
		<key>bbox</key>
		<array>
			<real>-82.483131</real>
			<real>31.911798</real>
			<real>-82.181912</real>
			<real>32.35383</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dooly</string>
		<key>bbox</key>
		<array>
			<real>-84.033411</real>
			<real>32.027938</real>
			<real>-83.606113</real>
			<real>32.292175</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Harris</string>
		<key>bbox</key>
		<array>
			<real>-85.184914</real>
			<real>32.583129</real>
			<real>-84.682876</real>
			<real>32.872496</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fannin</string>
		<key>bbox</key>
		<array>
			<real>-84.622752</real>
			<real>34.602958</real>
			<real>-84.092589</real>
			<real>34.989639</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Macon</string>
		<key>bbox</key>
		<array>
			<real>-84.255912</real>
			<real>32.170774</real>
			<real>-83.836673</real>
			<real>32.530602</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Camden</string>
		<key>bbox</key>
		<array>
			<real>-81.936988</real>
			<real>30.708651</real>
			<real>-81.304353</real>
			<real>31.169595</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Baker</string>
		<key>bbox</key>
		<array>
			<real>-84.641953</real>
			<real>31.078396</real>
			<real>-84.140852</real>
			<real>31.454761</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Twiggs</string>
		<key>bbox</key>
		<array>
			<real>-83.611569</real>
			<real>32.452198</real>
			<real>-83.226536</real>
			<real>32.89822</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chattahoochee</string>
		<key>bbox</key>
		<array>
			<real>-85.008096</real>
			<real>32.220951</real>
			<real>-84.637323</real>
			<real>32.534956</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Baldwin</string>
		<key>bbox</key>
		<array>
			<real>-83.42909</real>
			<real>32.926141</real>
			<real>-83.044327</real>
			<real>33.1904</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Banks</string>
		<key>bbox</key>
		<array>
			<real>-83.66967</real>
			<real>34.197499</real>
			<real>-83.337849</real>
			<real>34.491734</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Ben Hill</string>
		<key>bbox</key>
		<array>
			<real>-83.484529</real>
			<real>31.651691</real>
			<real>-82.995666</real>
			<real>31.851987</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Brantley</string>
		<key>bbox</key>
		<array>
			<real>-82.286137</real>
			<real>31.010441</real>
			<real>-81.731694</real>
			<real>31.373721</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bryan</string>
		<key>bbox</key>
		<array>
			<real>-81.781712</real>
			<real>31.71266</real>
			<real>-81.138324</real>
			<real>32.24131</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Candler</string>
		<key>bbox</key>
		<array>
			<real>-82.254572</real>
			<real>32.268783</real>
			<real>-81.918652</real>
			<real>32.560063</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Clinch</string>
		<key>bbox</key>
		<array>
			<real>-82.971336</real>
			<real>30.581767</real>
			<real>-82.418632</real>
			<real>31.184154</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Chatham</string>
		<key>bbox</key>
		<array>
			<real>-81.391698</real>
			<real>31.705198</real>
			<real>-80.751429</real>
			<real>32.237591</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Colquitt</string>
		<key>bbox</key>
		<array>
			<real>-84.013858</real>
			<real>31.025846</real>
			<real>-83.505386</real>
			<real>31.33498</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dougherty</string>
		<key>bbox</key>
		<array>
			<real>-84.457662</real>
			<real>31.435856</real>
			<real>-83.981606</real>
			<real>31.650274</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Evans</string>
		<key>bbox</key>
		<array>
			<real>-82.025339</real>
			<real>32.0479</real>
			<real>-81.718658</real>
			<real>32.278883</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Habersham</string>
		<key>bbox</key>
		<array>
			<real>-83.681696</real>
			<real>34.4317</real>
			<real>-83.338173</real>
			<real>34.827736</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Henry</string>
		<key>bbox</key>
		<array>
			<real>-84.3544</real>
			<real>33.297631</real>
			<real>-83.9225</real>
			<real>33.647411</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Irwin</string>
		<key>bbox</key>
		<array>
			<real>-83.500952</real>
			<real>31.471857</real>
			<real>-82.99836</real>
			<real>31.769659</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jeff Davis</string>
		<key>bbox</key>
		<array>
			<real>-82.839122</real>
			<real>31.671281</real>
			<real>-82.430452</real>
			<real>31.971689</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lamar</string>
		<key>bbox</key>
		<array>
			<real>-84.27014</real>
			<real>32.931497</real>
			<real>-84.040914</real>
			<real>33.202824</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lee</string>
		<key>bbox</key>
		<array>
			<real>-84.338611</real>
			<real>31.621951</real>
			<real>-83.922494</real>
			<real>31.91619</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Lumpkin</string>
		<key>bbox</key>
		<array>
			<real>-84.19104</real>
			<real>34.418674</real>
			<real>-83.831618</real>
			<real>34.740944</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>McDuffie</string>
		<key>bbox</key>
		<array>
			<real>-82.6488</real>
			<real>33.310879</real>
			<real>-82.294179</real>
			<real>33.659994</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Montgomery</string>
		<key>bbox</key>
		<array>
			<real>-82.656244</real>
			<real>31.948572</real>
			<real>-82.409118</real>
			<real>32.353848</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Oglethorpe</string>
		<key>bbox</key>
		<array>
			<real>-83.306619</real>
			<real>33.689869</real>
			<real>-82.779506</real>
			<real>34.047638</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Muscogee</string>
		<key>bbox</key>
		<array>
			<real>-85.080784</real>
			<real>32.373874</real>
			<real>-84.667463</real>
			<real>32.608137</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pike</string>
		<key>bbox</key>
		<array>
			<real>-84.538004</real>
			<real>32.968534</real>
			<real>-84.24766</real>
			<real>33.208889</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Towns</string>
		<key>bbox</key>
		<array>
			<real>-83.946068</real>
			<real>34.79052</real>
			<real>-83.546883</real>
			<real>34.992492</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Pierce</string>
		<key>bbox</key>
		<array>
			<real>-82.417435</real>
			<real>31.202082</real>
			<real>-81.992114</real>
			<real>31.530699</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Warren</string>
		<key>bbox</key>
		<array>
			<real>-82.866605</real>
			<real>33.25344</real>
			<real>-82.383829</real>
			<real>33.611437</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Wilcox</string>
		<key>bbox</key>
		<array>
			<real>-83.612256</real>
			<real>31.844626</real>
			<real>-83.176693</real>
			<real>32.133432</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Elbert</string>
		<key>bbox</key>
		<array>
			<real>-83.103287</real>
			<real>33.955728</real>
			<real>-82.564462</real>
			<real>34.289489</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Calhoun</string>
		<key>bbox</key>
		<array>
			<real>-84.828062</real>
			<real>31.427882</real>
			<real>-84.412521</real>
			<real>31.64367</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Early</string>
		<key>bbox</key>
		<array>
			<real>-85.114601</real>
			<real>31.07259</real>
			<real>-84.627579</real>
			<real>31.51867</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jenkins</string>
		<key>bbox</key>
		<array>
			<real>-82.147942</real>
			<real>32.60691</real>
			<real>-81.767543</real>
			<real>32.953882</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Franklin</string>
		<key>bbox</key>
		<array>
			<real>-83.398529</real>
			<real>34.223753</real>
			<real>-83.05138</real>
			<real>34.536617</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hart</string>
		<key>bbox</key>
		<array>
			<real>-83.115847</real>
			<real>34.209708</real>
			<real>-82.774094</real>
			<real>34.493761</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Miller</string>
		<key>bbox</key>
		<array>
			<real>-84.922423</real>
			<real>31.06801</real>
			<real>-84.537101</real>
			<real>31.259469</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Schley</string>
		<key>bbox</key>
		<array>
			<real>-84.430215</real>
			<real>32.158493</real>
			<real>-84.181657</real>
			<real>32.428095</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Taylor</string>
		<key>bbox</key>
		<array>
			<real>-84.453232</real>
			<real>32.372053</real>
			<real>-84.001971</real>
			<real>32.749464</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Webster</string>
		<key>bbox</key>
		<array>
			<real>-84.65582</real>
			<real>31.919167</real>
			<real>-84.431214</real>
			<real>32.233103</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Washington</string>
		<key>bbox</key>
		<array>
			<real>-83.073648</real>
			<real>32.756261</real>
			<real>-82.510851</real>
			<real>33.238428</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bibb</string>
		<key>bbox</key>
		<array>
			<real>-83.893037</real>
			<real>32.660643</real>
			<real>-83.48943</real>
			<real>32.952792</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Clayton</string>
		<key>bbox</key>
		<array>
			<real>-84.458927</real>
			<real>33.352465</real>
			<real>-84.243858</real>
			<real>33.648876</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Coffee</string>
		<key>bbox</key>
		<array>
			<real>-83.151141</real>
			<real>31.363884</real>
			<real>-82.596283</real>
			<real>31.812511</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Coweta</string>
		<key>bbox</key>
		<array>
			<real>-85.015358</real>
			<real>33.191043</real>
			<real>-84.497043</real>
			<real>33.511758</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Crisp</string>
		<key>bbox</key>
		<array>
			<real>-83.961278</real>
			<real>31.803495</real>
			<real>-83.609514</real>
			<real>32.030602</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dodge</string>
		<key>bbox</key>
		<array>
			<real>-83.373931</real>
			<real>31.900325</real>
			<real>-82.87179</real>
			<real>32.452533</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Douglas</string>
		<key>bbox</key>
		<array>
			<real>-84.911059</real>
			<real>33.5733</real>
			<real>-84.578132</real>
			<real>33.806264</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Hancock</string>
		<key>bbox</key>
		<array>
			<real>-83.27522</real>
			<real>33.049849</real>
			<real>-82.746182</real>
			<real>33.469178</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Haralson</string>
		<key>bbox</key>
		<array>
			<real>-85.386581</real>
			<real>33.652087</real>
			<real>-85.036684</real>
			<real>33.906302</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Jefferson</string>
		<key>bbox</key>
		<array>
			<real>-82.662135</real>
			<real>32.761452</real>
			<real>-82.232554</real>
			<real>33.313299</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>McIntosh</string>
		<key>bbox</key>
		<array>
			<real>-81.668357</real>
			<real>31.290953</real>
			<real>-81.095383</real>
			<real>31.699575</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Peach</string>
		<key>bbox</key>
		<array>
			<real>-84.018168</real>
			<real>32.439123</real>
			<real>-83.70101</real>
			<real>32.692815</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Tattnall</string>
		<key>bbox</key>
		<array>
			<real>-82.235034</real>
			<real>31.782607</real>
			<real>-81.761735</real>
			<real>32.318859</real>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>Wilkinson</string>
		<key>bbox</key>
		<array>
			<real>-83.40699</real>
			<real>32.584201</real>
			<real>-82.945098</real>
			<real>33.008791</real>
		</array>
	</dict>
</array>
</plist>
