<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button href="http://codeforatlanta.org/">A project of Code for Atlanta</md-button>
    <span flex></span>
    <md-button class="md-button social-button" href="https://twitter.com/intent/tweet?text=The%20easiest%20way%20to%20figure%20out%20where%20to%20vote%20early%20in%20Georgia!&via=codeforatlanta&related=codeforatlanta&url=http%3A%2F%2Fearlyvoting.codeforatlanta.org%2F">
      <i class="fa fa-twitter"></i><span class="social-text"> Tweet</span>
    </md-button>
    <md-button class="md-button social-button" href="https://www.facebook.com/sharer/sharer.php?sdk=joey&u=http%3A%2F%2Fearlyvoting.codeforatlanta.org%2F&display=popup&ref=plugin&src=share_button">
      <i class="fa fa-facebook"></i><span class="social-text"> Facebook</span>
    </md-button>
  </div>
</md-toolbar>
