<md-content class="md-padding md-primary md-hue-1 about">
  <md-card>
    <md-card-content>
      <h2 class="md-title">Am I eligible to vote early?</h2>
      <p>No reason is required to vote early in Georgia. All registered voters are eligible.</p>
    </md-card-content>
  </md-card>
  <br>
  <md-card>
    <md-card-content>
      <h2 class="md-title">Where can I go to get a sample ballot and find my election-day polling place?</h2>
      <p><a href="http://www.mvp.sos.ga.gov/MVP/">If you are registered to vote, you can log into the Georgia Secretary of State website to get this information.</a></p>
    </md-card-content>
  </md-card>
  <br>
  <md-card>
    <md-card-content>
      <h2 class="md-title">Speaking of which, where can I register to vote?</h2>
      <p>You can register to vote or change your registration record at <a href="https://registertovote.sos.ga.gov/GAOLVR/welcome.do#no-back-button">the Secretary of State website</a>. If you are new to Georgia, you might find it easiest to register to vote when you go to the Department of Driver Services (DDS) to get your Georgia drivers license or identification card.</p>
    </md-card-content>
  </md-card>
  <br>
  <md-card>
    <md-card-content>
      <h2 class="md-title">Who made this?</h2>
      <p>More people than we can list have touched this project, at several <a href="http://codeforatlanta.org">Code for Atlanta</a> civic hack nights. <a href="https://github.com/codeforatlanta/early-voting">The code is open source and available on Github.</a></p>
    </md-card-content>
  </md-card>
  <br>
  <md-card>
    <md-card-content>
      <h2 class="md-title">Where can I report a technical problem with this website?</h2>
      <p>You can <a href="https://github.com/codeforatlanta/early-voting/issues">submit an issue on Github</a> or <a href="mailto:yall@codeforatlanta.org?subject=Early+voting+website">email us at yall@codeforatlanta.org</a>.</p>
    </md-card-content>
  </md-card>
  <br>
</md-content>
