<md-content class="md-padding md-primary md-hue-1">
  <md-card>
    <md-card-content>
      <h1>{{ county.county }} County Early Voting Locations</h1>
      <h2>for {{county.electionDate}} <span class="capitalize">{{county.electionType}}</span></h2>
      <md-tabs md-dynamic-height md-border-bottom ng-if="county.countyElectionInfo.earlyVoting">
        <md-tab label="list closest">
          <ng-include src="'views/_county-list.html'"></ng-include>
        </md-tab>
        <md-tab label="map">
          <md-content class="md-padding">
            <leaflet defaults="defaults" tiles="tiles" paths="paths" bounds="county.bounds" geojson="geojson" geojson-nested="true" height="480px" width="100%"></leaflet>
          </md-content>
        </md-tab>
      </md-tabs>
      <p ng-if="!county.countyElectionInfo.earlyVoting" class="md-warn">No early voting locations found for this county.</p>
      <p ng-if="!county.countyElectionInfo.earlyVoting" class="md-warn">Want to double-check? <a href="http://sos.ga.gov/elections/CountyContacts/AdvanceVotingDisplay.aspx">Check the Secretary of State's website</a>. And please <a href="mailto:yall@codeforatlanta.org">let us know</a> if we missed a location so we can add it. Thanks!</p>
      <span class="before-button">Not a {{ county.county }} County voter?</span>
      <md-button href="#/" class="md-raised md-primary">
        Select your county
      </md-button>
    </md-card-content>
  </md-card>
</md-content>
