<md-content class="md-padding has-cards">
  <md-card>
    <md-card-content>
      <h2 class="md-title">What is Early Voting?</h2>
      <p>No reason is required to vote early.</p>
    </md-card-content>
  </md-card>
  <br>
  <md-card>
    <md-card-content>
      <h2 class="md-title">Next Election</h2>
      <p>
        The next Georgia {{ main.nextElectionType }} date is {{ main.nextElectionDate }}.<br>
        Early voting begins {{ main.nextElectionEarlyVotingDate }}.
      </p>
      <p>
        To find times and places where you can vote early, select the county where you are registered to vote:
      </p>
      <form ng-submit="$event.preventDefault()">
        <md-autocomplete 
          md-selected-item="main.selectedCounty"
          md-search-text-change="main.searchTextChange(main.searchText)" 
          md-search-text="main.searchText" 
          md-selected-item-change="main.selectedCountyChange(county)"
          md-items="county in main.querySearch(main.searchText)" 
          md-item-text="county.display" 
          md-min-length="0"
          placeholder="Type your county here">
          <span md-highlight-text="main.searchText" md-highlight-flags="^i"> {{county.display}}</span>
          <md-not-found>
            No matches found for "{{main.searchText}}".
          </md-not-found>
        </md-autocomplete>
        <div class="button-container">
          <span>County lookup for an address</span>
          <md-button class="md-raised md-primary" href="/#/counties">Select</md-button>
        </div>
        <br>
      </form>
    </md-card-content>
  </md-card>
  <br>
  <md-card>
    <md-card-content>
      <h2 class="md-title">More Info</h2>
      <p>
        To find your polling place for election day, {{ main.nextElectionDate }}
      </p>
    </md-card-content>
  </md-card>
</md-content>
