<md-content class="md-padding md-primary md-hue-1 place">
  <md-card>
    <md-card-content>
      <div id="address">
        <h2 class="md-title">{{place.properties.location}}</h2>
        <h3>{{place.properties.address}}<br>{{place.properties.city}}, GA {{place.properties.zip}}</h3>
        <p ng-bind-html="place.properties.datesSimplified"></p>
        <p class="warning">
          Anyone registered to vote in {{place.county}} County can vote early here.<br>Not a {{ place.county }} County voter? 
          <a href="#/" class="md-raised md-primary">Select your county here.</a>
        </p>
      </div>
      <div id="map">
        <leaflet defaults="defaults" center="county" markers="markers" height="200px" width="205px"></leaflet>
        <md-button class="md-raised md-primary directions-link" ng-href="{{ place.googleMapsLink }}" target="_blank">Get directions</md-button>
      </div>
      <div class="dates">
        <div class="date" ng-repeat="date in place.properties.dates" ng-class="date.date===place.today ? 'today' : ''">
          <div class="day">
            {{date.date}}
          </div>
          <div class="time">
            {{date.time}}
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
</md-content>
