$primary: #3356B7;
$secondary: #E03D69;

.awesome-marker i {
  margin-left: 2px;
}

.leaflet-container {
  .leaflet-popup-content {
    margin: 13px 13px 13px 19px;
    .popup-link {
      text-decoration: none;
    }
    .popup-text {
      display: table-cell;
    }
    .popup-icon {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
