$primary: #19557E;
$secondary: #E03D69;

@mixin list-divider {
  md-list-item {
    border-top: 1px solid #e0e0e0;
  }
  md-list-item:last-of-type {
    border-bottom: 1px solid #e0e0e0;
  }
}

.awesome-marker i {
  margin-left: 2px;
}

.leaflet-container {
  .leaflet-popup-content {
    margin: 13px 13px 13px 19px;
    .popup-link {
      text-decoration: none;
    }
    .popup-text {
      display: table-cell;
      vertical-align: middle;
    }
    .popup-icon {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
.counties,
.county-list {
  @include list-divider;
}

.county-list {
  .geolocation-button {
    margin-bottom: 24px;
  }
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: $secondary;
    }
  }
  .error-text {
    color: $secondary;
    display: inline-block;
  }
}
leaflet {
  height: 480px;
}

.before-button {
  vertical-align: 100%;
}

.capitalize {
  text-transform:capitalize;
}
