// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

$primary: #005480;
$secondary: #E03D69;
$tertiary: #399FD3;

// @mixin placeholder-text {
//   color: $primary;
//   font-weight: bold;
//   font-size: 1.2em;
//   padding-left: 20px;
// }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

a {
  color: $primary;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

md-autocomplete {
  border: 2px solid $primary;
  text-color: $primary;
}

#footer {
  md-toolbar,
  .md-toolbar-tools {
    min-height: 36px;
    height: 36px;
  }
}

md-card {
  max-width: 730px;
  margin: 0 auto;
}

.button-container {
  width: 100%;
  .left-button {
    width: calc(100% - 104px - 21px);
    text-align: left;
    &.md-secondary {
      color: $secondary;
    }
  }
}

md-card.alert {
  background-color: $secondary;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 368px) {
  .md-toolbar-tools {
    a.tagline {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 400px) {
  .main-menu {
    font-size: 12px;
  }
  .md-toolbar-tools {
    h1, 
    h2 {
      font-size: 14px;
    }
    .social-button {
      padding: 0px;
      margin: 0px;
      width: 44px;
      max-width: 44px;
      min-width: 44px;
      // font-size: 12px;
      .social-text {
        display: none;
        width: 0;
      }
    }
  }
}

.main-view {
  input.select-county {
    border-radius: 2px;
    display: block;
    height: 40px;
    position: relative;
    overflow: visible;
    min-width: 190px;
    background: white;
    font-size: 14px;
    box-sizing: border-box;
    border: 2px solid #005480;
    outline: none;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
  }

  ul {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    box-shadow: 0 2px 5px rgba(black, 0.25);
    margin-top: 0px;
    padding: 0px;
    li {
      font-size: 14px;
      overflow: hidden;
      padding: 0 15px;
      line-height: 48px;
      height: 48px;
      transition: background 0.15s linear;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: rgb(33, 33, 33);
      list-style: none;
      a {
        color: rgb(33, 33, 33);
        text-decoration: none;
      }
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }
} 
